.toDoSearch-container {
    /* border: 2px solid #fff; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toDoSearch-container input {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 4px solid #d408d7;
    background-color: transparent ;
    padding: 10px;
    outline: none;
    color: #d408d7;
    font-family: 'Montserrat-Light';
    font-size: 2rem;
}