form {
    /* border: 1px solid #bbbaba; */
    display: flex;
    flex-direction: column;
    justify-content: flex-startnpm;
    align-items: center;
    width: 90%;
    max-width: 500px;
    height: 400px;
    background-color: #000000;
    border-radius: 10px;
}

form label {
    /* border: 1px solid #fff; */
    font-family: Poppins;
    color: #F49915;
    font-size: 1.5rem;
    margin-top: 30px;
}

form textarea {
    width: 80%;
    height: 200px;
    margin-top: 30px;
    border-radius: 5px;
    /* border: 4px solid #F49915; */
    background-color: #9c9a98 ;
    opacity: 0.5;
    padding: 10px;
    outline: none;
    color: #000;
    font-family: 'Architects Daughter';
    font-size: 2rem;
    font-weight: bold;
}

form textarea::placeholder {
    color: #2e2b2b;
  }
  

.TodoForm-buttonContainer {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.TodoForm-button--cancel {
    font-family: Poppins;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #F49915;
    color: #000;
    border: none;
    width: 150px;
}

.TodoForm-button--add {
    font-family: Poppins;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #F49915;
    color: #000;
    border: none;
    width: 150px;    
}