
.Icon-check {
    margin-left: 10px;
    padding: 0;
    /* color: #d408d7; */
  }
  
.Icon-check--active {
      color: #032601;
  }

.Icon-delete {
    /* color: #d408d7; */
    margin-left: auto;
}

/* .Icon-delete:hover {
    color: #e8e3e9; 
} */
