/* ------ FONTS ------  */

@font-face {
    font-family: Montserrat-Bold;
    src: url('./assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('./assets/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: Architects Daughter;
    src: url('./assets/fonts/ArchitectsDaughter-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-ExtraBold.ttf');
}

/*-------Styles-------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    /* margin: 0; */
    /* padding: 0; */
    /* border: 1px solid #000; */
    /* background-image: url('./assets/img/backgroundToDo.jpg'); */
    /* background-size: cover; */
}

.main-container {
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid #fff; */
    margin-top: 5vh;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.main-container>* {
    height: 100%;
}


/* .main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

} */

.container-left {
    /* border: 2px solid #fff; */
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;

}

.container-right {
    /* border: 2px solid #fff; */
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.container-right--searchList {
    flex: 1;
}

.noToDo {
    margin-left: 10px;
    font-family: 'Architects Daughter';
    font-size: 1.3rem;
}


/* MOBILE */

@media (max-width: 767px) {
    
    .main-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .container-left {
        width: 100%;
        /* border: 2px solid #fff; */
        flex-grow: 1;
        height: 200px;
    }

    .container-right {
        /* border: 2px solid #fff; */
        width: 100%;
        flex-grow: 2;
        display: flex;
        /* flex: 2; */
        flex-direction: column;
        /* justify-content: space-between; */
    }
}
